body {
  background-color: #F5EFE6;
}

hr   {
  border-style:  none;
      width:5%;
      border-top: dotted;
      border-color: #7895B2;
      border-width: 5px;
    }

  h1{
    color: #7895B2;
    font-style: italic;
    font-family: "Courier New",monospace;
  }

  h3{
    color: #AEBDCA;
    font-family: "Monaco",monospace;

  }
