body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #FDEEDC;
}

.middle-container {
  background-color: #FFD8A9;
}

.bottom-container {
  background-color: #E38B29;
}

.pro {
  text-decoration: underline;
}
